.review-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex-grow: 1;
}

.review-form h2 {
	font-weight: bold;
	font-size: 1.5rem;
}

.review-form input {
	line-height: 3rem;
	min-width: 30vw;
}
