 *
 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-style: collapse;
}

:root{
    --white: #f3e9c7;
    --yellow: #e6d386;
    --light-brown: #be974a;
    --dark-brown: #674c37;
    --brown: #70572f;
    --green: #3d4a36;
    --black: #19291e;
}

html {
    font: 25px/1;
    font-family: 'Muli', sans-serif;
    background-color: var(--yellow);
    }

img {
max-height: 300px;
max-width: 300px;
display: flex;
align-items: center;
}
.header {
    position: fixed;
    background-color: #3d4a36;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5rem;
    padding: 4px;
}