.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}

.review h1 {
  font-weight: bold;
  font-size: 2.5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--black);
  -webkit-text-fill-color: var(--yellow);
}
