.review-body h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--black);
  margin: 1rem;
}

.review-body h3 {
  font-size: 1.3rem;
  color: var(--green);
  margin: 0.5rem;
}

.review-body p {
  font-size: 1.2rem;
  color: var(--dark-bown);
  padding: 0.5rem;
}

.review-body__figure {
  margin: 3rem;
}

.comment-count {
  margin: 2rem;
}

.comment-form {
  margin: 2rem;
}

.review-body__tags {
  padding: 2rem;
  background-color: azure;
}
