<!DOCTYPE html>
<html lang="en">
  <head>
    <div th:insert="fragments/head.html :: head"></div>
  </head>
  <body>
    <div class="wrapper">
      <header th:replace="fragments/header.html :: header"></header>

      <main class="main">
        <section>
          <ul>
            <li th:each="tag: ${tagsModel}">
              <a th:href="|/tags/${tag.id}|">
                <h2 th:text="${tag.name}">Action</h2>
                <h1
                  th:each="review: ${tag.reviews}"
                  th:text="${review.title}"
                ></h1>
              </a>
            </li>
          </ul>
        </section>
      </main>

      <footer th:replace="fragments/footer.html :: footer"></footer>
    </div>
  </body>
</html>
