<!DOCTYPE html>
<html lang="en">
  <head>
    <div th:insert="fragments/head.html :: head"></div>
    <link rel="stylesheet" type="text/css" href="/css/alltags.css" />
  </head>
  <body>
    <div class="wrapper">
      <header th:replace="fragments/header.html :: header"></header>

      <main class="main">
        <section class="content">
          <ul class="ul__class">
            <li th:each="tag: ${tagsModel}">
              <a th:href="|/tags/${tag.id}|">
                <h1 th:text="${tag.name}">Action</h1>
                <h2
                  class="header__two"
                  th:each="review: ${tag.reviews}"
                  th:text="${review.title}"
                ></h2>
              </a>
            </li>
          </ul>
        </section>
      </main>

      <footer th:replace="fragments/footer.html :: footer"></footer>
    </div>
  </body>
</html>
