<!DOCTYPE html>
<html lang="en">
	<head>
		<div th:insert="fragments/head.html :: head"></div>
		<link rel="stylesheet" type="text/css" href="/css/categoryview.css" />
	</head>

	<body>
		<div class="wrapper">
			<header th:replace="fragments/header.html :: header"></header>

			<main class="main">
				<div class="category-card-gallery">
					<section class="card" th:each="category: ${categoriesModel}">
						<a th:href="|/categories/${category.id}|">
							<h2 class="card__title" th:text="${category.name}">Action</h2>
						</a>
					</section>
				</div>
			</main>

			<footer th:replace="fragments/footer.html :: footer"></footer>
		</div>
	</body>
</html>
