<!DOCTYPE html>
<html lang="en">
	<head>
		<div th:insert="fragments/head.html :: head"></div>
		<link
			rel="stylesheet"
			type="text/css"
			href="/css/pages/categoriesView.css"
		/>
	</head>

	<body>
		<div class="wrapper">
			<header th:replace="fragments/header.html :: header"></header>

			<main class="main">
				<section class="category-card-gallery">
					<article class="card" th:each="category: ${categoriesModel}">
						<a th:href="|/categories/${category.id}|">
							<h2 class="card__title" th:text="${category.name}">Category</h2>
						</a>
					</article>
				</section>
			</main>

			<footer th:replace="fragments/footer.html :: footer"></footer>
		</div>
	</body>
</html>
