<!DOCTYPE html>
<html lang="en">
	<head>
		<div th:insert="fragments/head.html :: head"></div>
		<link rel="stylesheet" type="text/css" href="/css/pages/homeView.css" />
	</head>

	<body>
		<div class="wrapper">
			<header th:replace="fragments/header.html :: header"></header>

			<main class="main">
				<section class="welcome">
					<h1>Welcome to Blighted Potatoes!</h1>
					<h2>
						We have reviews for everything! Not just potatoes!
					</h2>
				</section>
			</main>

			<footer th:replace="fragments/footer.html :: footer"></footer>
		</div>
	</body>
</html>
