<!DOCTYPE html>
<html lang="en">
	<head>
		<div th:insert="fragments/head.html :: head"></div>
		<link
			rel="stylesheet"
			type="text/css"
			href="/css/pages/newReviewView.css"
		/>
	</head>

	<body>
		<div class="wrapper">
			<header th:replace="fragments/header.html :: header"></header>

			<main class="main">
				<form class="review-form" action="/reviews/add" method="POST">
					<label>
						<h2>Title:</h2>
						<input type="text" name="title" value="ex: Scarface" />
					</label>

					<label>
						<h2>ImageURL:</h2>
						<input
							type="text"
							name="imgurl"
							value="ex: www.something.com/something.png"
						/>
					</label>

					<label>
						<h2>Category:</h2>
						<input list="categories" name="category" />
						<datalist id="categories">
							<option
								th:each="category: ${categoriesModel}"
								th:value="${category.name}"
							>
							</option>
						</datalist>
					</label>

					<label>
						<h2>Review Contents:</h2>
						<input type="text" name="review" value="Write your review here." />
					</label>

					<button type="submit">Create New Review</button>
				</form>
			</main>

			<footer th:replace="fragments/footer.html :: footer"></footer>
		</div>
	</body>
</html>
