<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Browse all reviews</title>
  </head>

  <body>
    <header></header>

    <main>
      <ul>
        <li>Title</li>
        <li>Genre</li>
        <li>Director</li>
        <li>Date Range</li>
      </ul>
    </main>

    <div th:each="review: ${reviews}">
      <!-- <a th:href="|/review/${review.id}|"> -->
        <article>
          <h1 th:text="${review.title}">Title</h1>
          <img th:src="@{/images/Placeholder.png}" />
          <p>(description)</p>
        </article>
      <!-- </a> -->
    </div>
  </body>
</html>
