<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/action_page.php">
        Title:
        <input type="text" name="title" value="ex: Scarface">
    
        ImageURL:
        <input type="text" name="imageURL" value="ex: www.something.com">

        Category:
        <input type="text" name="category" value="ex: Gangster movie">

        Review:
        <input type="text" name="review" value="Write your review here">

        
        <input type="submit" value="Submit">
      </form> 
      
    





</body>
</html>