<!DOCTYPE html>
<html lang="en">
	<head>
		<div th:insert="fragments/head.html :: head"></div>
		<link
			rel="stylesheet"
			type="text/css"
			href="/css/pages/singleReviewView.css"
		/>
	</head>

	<body>
		<div class="wrapper">
			<header th:replace="fragments/header.html :: header"></header>

			<main class="main">
				<section class="review">
					<h2 class="review__title" th:text="${reviewModel.title}">
						The Notebook
					</h2>
					<figure class="review__figure">
						<img th:src="@{${reviewModel.imgurl}}" alt="image missing" />
					</figure>
					<h3 class="review__content" th:text="${reviewModel.content}">
						A good movie!
					</h3>
				</section>

				<section class="tags">
					<h2>Tags</h2>
					<ul class="tags__body">
						<li th:each="tag : ${reviewModel.tags}" th:text="${tag.name}">
							Tag
						</li>
					</ul>

					<form class="tags__form" action="/reviews/add-tag" method="POST">
						<label>
							Tag Name
							<input type="text" name="name" value="ex: science" />
							<input type="hidden" name="id" th:value="${reviewModel.id}" />
						</label>
						<button type="submit">Add Tag</button>
					</form>
				</section>

				<section class="comments">
					<span class="comments__count">
						<span th:text="${reviewModel.commentsSize}">0</span>
						Comments
					</span>
					<div class="comments__body">
						<p
							th:each="comment : ${reviewModel.comments}"
							th:text="${comment.content}"
						>
							Placeholder comment
						</p>
					</div>
				</section>

				<section>
					<div class="comment-form">
						<form action="/reviews/add-comment" method="POST">
							<label>
								Comment Body:
								<input
									type="text"
									name="content"
									value="ex: This review was awesome!"
								/>
								<input type="hidden" name="id" th:value="${reviewModel.id}" />
							</label>
							<button type="submit">Submit Comment</button>
						</form>
					</div>
				</section>
			</main>

			<footer th:replace="fragments/footer.html :: footer"></footer>
		</div>
	</body>
</html>
