<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <li th:each="review: ${reviewsModel}">
        <a th:href="|/reviews/${review.id}|">
          <h3 th:text="${review.title}">The Notebook</h3>
          <h3 th:text="${review.content}">A good movie!</h3>
          
          <img th:src="${review.imgurl}" alt="image missing">
        </a>
      </li>
    </ul>
  </body>
</html>
