<!DOCTYPE html>
<html lang="en">
  <head>
    <div th:insert="fragments/head.html :: head"></div>
  </head>

  <body>
    <div class="wrapper">
      <header th:replace="fragments/header.html :: header"></header>

      <main class="main">
        <section>
          <div>
            <h2 th:text="${reviewModel.title}">The Notebook</h2>
            <h3 th:text="${reviewModel.content}">A good movie!</h3>
            <img th:src="${reviewModel.imgurl}" alt="image missing" />
            <br />
            <span th:text="${reviewModel.commentsSize}">7 comments</span>
            <p
              th:each="comment : ${reviewModel.comments}"
              th:text="${comment.content}"
            >
              Placeholder comment
            </p>
          </div>
          <div>
            <p>Stephanie Shipley</p>
            <p>6/14/2019</p>
          </div>
          <form action="/reviews/add-comment" method="POST">
            <label>
              Comment Body:
              <input
                type="text"
                name="content"
                value="ex: This review was awesome!"
              />
              <input type="hidden" name="id" th:value="${reviewModel.id}" />
            </label>
            <button type="submit">Submit Comment</button>
          </form>
        </section>
      </main>

      <footer th:replace="fragments/footer.html :: footer"></footer>
    </div>
  </body>
</html>
